

<table class="table table-hover table-condensed">
<caption><%= will_paginate @files, :page_links => false %></caption> 

  <thead>
    <tr>
            <th>File</th>


    </tr>
  </thead>
  <tbody>
<% @files.each do |sourcefile| %>
  <tr>
  <td><%= sourcefile.file %></td>
  </tr>
<% end %>

</tbody>

</table>

<p><%= @files.count %> total files</p>


