
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <td>Folder</td>
      <td>File</td>
      <td>XML</td>
    </tr>
  </thead>
  <tbody>
<% @reports.each do |report| %>

  <% if report.size > 1000000 %>
   <tr class="warning">
  <% else %>
   <tr>
  <% end %>

    <td><%= report.filedir %>
  </td>
  <td><%= report.filexml %>
</td>


<td><a href="<%= report.file %>">XML</a></td>
  </tr>
<% end %>
</tbody>
</table>
