
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <td>Folder</td>
      <td>File</td>
      <td>XML</td>
    </tr>
  </thead>
  <tbody>
<% @reports.each do |report| %>
  <tr>
    <td><%= report.filedir %>
  </td>
  <td><%= report.filexml %>
</td>
<td><a href="<%= report.file %>">XML <%= report.size %></a>
</td>
  </tr>
<% end %>
</tbody>
</table>
